slurm-*.out
*.pyc
*.swp
*.nc
*.nc.bkp
*.nc_bkp
*.jld2
*.mp4
*.pdf
*/logs/*out
*/logs/*log
*.err
*.out
*.log
*/anims/*png
output.out
__pycache__/*
aux_pbs*.sh
aux_submission*.sh
.ipynb_checkpoints/
simulations/data
figures_check/*.png
figures_check/*.pdf
figures/*.png
figures/*.pdf
bathymetry/*nc
